#project-container {
	margin-top: 3rem;
	margin-bottom: 2rem;
	.text-box {
		margin-top: 0px;
	}
	.text-main-heading {
		margin-bottom: 1.5rem;
	}
}

.project-image {
	margin-bottom: 1.5rem;
}

#project-container .sticky-container {
	top: 3rem;
}
